<div class="col" id="<%= dom_id category %>">
  <div class="card shadow-sm">
      <div class="card-body">
        <p class="card-text"><%= category.title %></p>
          <%= category.body %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <%= link_to category do %>
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <% end %>
                <%= link_to edit_category_path(category) do %>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                <% end %>   
            </div>
            <small class="text-muted"><%= Time.now %></small>
          </div>
        </div>
      </div>
  </div>