<div class="col-12" id="<%= dom_id transaction %>">
  <tbody class="col-12">
    <tr style='text-align:center;'>
      <td style='border:1px solid black;'><%= transaction.transact%></th>
      <td style='border:1px solid black;'><%= transaction.sum %></td>
      <td style='border:1px solid black;'><%= transaction.date %></td>
      <td style='border:1px solid black;'><%= transaction.desc %></td>
      <td style='border:1px solid black;'>
        <div class="btn-group">
          <%= link_to transaction do %>
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <% end %>
          <%= link_to edit_transaction_path(transaction) do %>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          <% end %>   
        </div>
      </td>
  </tbody>
</div>

