<div id="<%= dom_id transaction %>">
  <h1 class="text-center"><%= transaction.transact %></h1>
  <table>
    <tr>
      <th><%= transaction.typeoperat %></th>
    </tr>
    <tr>
      <td><%= transaction.sum %></td>
    </tr>
    <tr>
      <td><%= transaction.date %></td>
    </tr>
    <tr>
      <td><%= transaction.desc %></td>
    </tr>
  </table>
</div>

