<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
        <%= link_to root_path do %>
          <%= image_tag('FINM.png', width: '100px') %>
        <% end %>
        <%- if user_signed_in?  %>
        <ul class="nav col-12 col-lg-9 me-lg-auto m-lg-2 mb-2 justify-content-center mb-md-0">
          <li class="nav-link px-2 link-dark">
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu text-small">
                  <li><a class="dropdown-item" href="/expenses">Expenses/Revenues</a></li>
                  <li><%= link_to 'New Costs', new_category_path, class: 'dropdown-item' %></li>
                </ul>
            </div>
          </li>
          <li class="nav-link px-2 link-dark">
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Operation
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="/transaction">Transaction</a></li>
                <li><%= link_to 'New Transaction', new_transaction_path, class: 'dropdown-item' %></li>
              </ul>
            </div>
          </li>
        </ul>
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://cdn2.iconfinder.com/data/icons/users-6/100/USER9-512.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><%= link_to 'New Costs', new_category_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'New Transaction', new_transaction_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Profile', edit_user_registration_path, class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                 <%= button_to 'Logout', destroy_user_session_path, method: :delete, dorm: {turbolink: false}, class:'dropdown-item' %>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="d-flex justify-content-lg-end">
              <%= link_to new_user_session_path do %>
                <button type='button' class='btn btn-outline-dark me-2'>Login</button>
              <% end %>
              <%= link_to new_user_registration_path do %>
                <button type='button' class='btn btn-warning'>Sing-up</button>
              <% end %>
          </div>
        <% end %>
        
      </div>
      
    </div>
  </header>
  